In [1]:
import pandas as pd

"""
Reading the bert output
"""

mapping = {1: "fear", 2: "anger", 3: "guilt", 4: "joy", 5: "shame", 6: "disgust", 0: "sadness"}

drop_col = [9, 10, 11, 12, 13, 14, 15]
bert_train = pd.read_csv("train-16.csv", header=None, on_bad_lines='skip', delimiter="|").drop(columns=drop_col)
bert_val = pd.read_csv("val-16.csv", header=None, on_bad_lines='skip', delimiter="|").drop(columns=drop_col)
bert_test = pd.read_csv("test-16.csv", header=None, on_bad_lines='skip', delimiter="|").drop(columns=drop_col)

bert_all = pd.concat([bert_train, bert_val, bert_test])
bert_all

,0,1,2,3,4,5,6,7,8
0,When I understood that I was admitted to the U...,4.0,-4.143373,-4.099311,-4.180825,-3.873905,3.270709,-3.883025,-3.976190
1,I broke a window of a neighbouring house and I...,1.0,-4.454488,2.634034,-3.970481,-3.600777,-4.260800,-3.508614,-4.351669
2,Got a big fish in fishing.,4.0,-3.871844,-4.237987,-4.067472,-3.916490,3.443163,-4.022819,-3.743179
3,"Whenever I am alone in a dark room, walk alone...",1.0,-4.045258,3.200204,-3.871938,-3.878467,-4.119332,-3.877209,-3.389095
4,I bought a possible answer to a homework probl...,5.0,-4.648178,-4.786387,-1.271109,-2.308218,-4.468682,0.195158,-2.507853
...,...,...,...,...,...,...,...,...,...
1140,Not being a good host for a friend from a far ...,3.0,-3.077817,-5.027366,-3.306948,1.170537,-5.571788,-1.354663,-2.787492
1141,"I had a very horrible dream one night, I dream...",1.0,-4.497149,2.975088,-3.899056,-3.790592,-4.291361,-3.033495,-3.544418
1142,"My sweetheart left me, or rather we decided to...",0.0,2.665590,-4.259548,-3.877426,-3.458135,-3.568334,-3.607715,-3.872411
1143,My boyfriend made me a proposal.,4.0,-4.251548,-4.527634,-3.848884,-4.058742,3.007751,-3.362574,-4.002860
1144,"I am disgusted with liers, hypocrites, slander...",6.0,-3.587851,-3.542270,-3.460089,-3.469225,-3.664184,-3.535312,3.006108